body{
    background-color: rgb(222, 222, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.digital{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 50px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 20px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    background-color:rgb(176, 176, 215);
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgb(50, 50, 50);
    color: rgb(7, 6, 6);
    border-color: rgb(114, 114, 114); 
    border: 0px;
    cursor: pointer;
}
#Start{
    background-color: #1abc9c;
}
#Stop{
    background-color: #3498db;
}
#Reset{
    background-color: #e74c3c;
}